.CryptoStats_Caption{

  margin: 9px;
  padding: 9px;
  font-size: 1.2rem;
  color: white;
  font-weight: 900;
}
.CryptoFeed_Stats{
  height: 330px;
  width: 97%;
  margin-top: 10px;
  border: 0.5px solid lightgray;
  border-radius: 5px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}
.CryptoFeed_Select{
  height:30px;
  width:70px;
  background-color:#262C3A;
  margin-left:auto;
  margin-right:30px;
  margin-top:-25px;
  border-radius:15px;
  cursor: pointer;
  position: relative;
  flex-direction: row;
  align-items: center;
  display: flex;
}
.CryptoFeed_Select>p{
  color: white;
  font-size: 16px;
   display: flex;
  margin-top: 15px;
  position: absolute;
  margin-left: 5px;

}
.States_Country{
  height: 400px;
  width: 210px;
  background-color: #262C3A;
  position: absolute;
  right: 30px;
  border-radius: 9px;
  overflow-y: scroll;
  overflow-x: hidden;
  color: white;
}
.States_Country::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.States_Country::-webkit-scrollbar-thumb {
  background: transparent;
}
.CryptoFeed_Select_Icon{
  position: absolute;
  right: 5px;
}
.States_Country_Name{
  height: 30px;
  width: 100%;
  cursor: pointer;
  margin-top: -5px;
  padding-top: 10px;
  padding-left: 10px;
  
}
.States_Country_Name:hover{
  background-color: rgb(75, 66, 66);
  border-radius: 5px;
  width: 100%;
  
}
.CryptoStats_Caption_Text{
  color: white;
  font-size: 1rem;
  font-weight: 900;
  margin-top: 9px;
}
.CryptoStats_Caption_Price{
  color: white;
  font-size: 0.9rem;
  font-weight: 900;
  margin-top: -5px;
}