.CryptoHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 0px 20px;
}
.Input{
  width: 350px;
  height: 35px;
  border-radius: 20px;
  border: none;
  background-color: #262C3A;
  color: white;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}
.Input::placeholder{
  color: white;
 
}
.Icon{
  position: absolute;
  right: 10px;
  color: white;
  top: 4px;
  cursor: pointer;
  
}