.CryptoGraph{
  height: 400px;
  width: 784px;
  position: relative;
  border: 1px solid #262C3A;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  margin-top: 3px;
}
.CryptoGraph_Header{
  position: absolute;
  display: flex;
  flex-direction: row;
  right: 20px;
}
.CryptoGraph_List>p{
  color: white;
  margin-left: 10px;
  cursor: pointer;

}