.SwapMiddleFeed{
  height: 330px;
  width:430px;
  background-color: #262C3A;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}
.SwapMiddleFeed_Header{
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 5px 20px;
}
.SwapMiddleFeed_Header>p{
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.SwapMiddleFeed_Body{
  height:190px;
}
.SwapMiddleFeed_Bottom{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
 
}