.SwapMiddleFeed{
  height: 330px;
  width:430px;
  background-color: #262C3A;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  position: relative;
}
.SwapMiddleFeed_Header{
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 5px 20px;

}
.SwapMiddleFeed_Header>p{
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.SwapMiddleFeed_Body{
  height:190px;
}
.SwapMiddleFeed_Bottom{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
 
}
.Input1{
  width: 390px;
  height: 60px;
  border-radius: 15px;
  border: none;
  background-color: #1C1E2A;
  color: white;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  margin-left: 10px;
  margin-top: 15px;
}
.Input1::placeholder{
  color: white;
 
}
.Input2{
  width: 390px;
  height: 60px;
  border-radius: 15px;
  border: none;
  background-color: #1C1E2A;
  color: white;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  margin-left: 10px;
  margin-top: 20px;
}
.Input2::placeholder{
  color: white;
 
}
.SelectToke1{
  position: absolute;
  right: 20px;
  top: 30px;
  background-color: #CF0063;
  border-radius: 5px;
  width: 120px;
  height: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.SelectToke2{
  position: absolute;
  right: 20px;
  top: 35px;
  background-color: #CF0063;
  border-radius: 5px;
  width: 120px;
  height: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  font-size: 16px;
  cursor: pointer;

}
.TokenList{
  height: 480px;
  width: 400px;
  background-color: #CF0063;
  border-radius: 20px;
  position: absolute;
  top: -100px;
  left: 15px;
}
.TokenListHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 20px;
  justify-content: space-between;
}
.SwapList{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 400px;
}
.SwapList::-webkit-scrollbar {
  width: 4px;
  background-color: #91506f;

}
.SwapList::-webkit-scrollbar-thumb {
  background: white;
}
