.ExploreList_Caption{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.ExploreList_Caption>h1{
  font-size: 24px;
  margin-left: -70px;
  color: white;
  font-weight: 900;
}
.ExploreList_Caption_Right{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ExploreList_Caption_Right>p{
  color: white;
  font-size: 16px;
  margin-right: 10px;
  font-weight: 900;
}
.Explore_Caption_Icon{
  color: black;
  font-size: 20px;
  margin-right: 20px;
  background-color: #ccfecc;
  border-radius: 50%;
  padding: 3px;
  cursor: pointer;
}
.ExploreList_Item_List{
  display: flex;
  flex-direction: row;  
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  
}
.ExploreList_Item{
  margin-right: 25px;
  cursor: pointer;
}
.ExploreList_Item_Info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
  font-size: 17px;
  font-weight: 800;
  margin-top: -2px;
}
.Explore_Details{
  /* width: 210px; */
  /* border: 1px solid #262C3A; */
  padding: 10px;
  border-radius: 10px;
  
}
.Explore_Details_Price{
  font-size: 14px;
  font-weight: 700;
  color: lightgray;
  margin-top: -10px;
  margin-left: 20px;
  
}
.Explore_Details_Bid{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -5px;
}
.Explore_Details_Bid1{
  font-size: 12px;
  font-weight: 600;
  color: lightgray;
  margin-top: 0px;
}
.Explore_Details_Bid2{
  font-size: 12px;
  font-weight: 600;
  color: lightgray;
  margin-top: -6px;
}

.Explore_Details_Bid_Img{
   
  width: 33px;
  height: 33px;
  background-color: rgb(236, 236, 78);
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Explore_Details_Bid_Des{
 margin-left: 10px;
 margin-top: 10px;

}
.Explore_Details_Time{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -15px;
}
.Explore_Details_Time_Des{
  margin-left: 10px;
  margin-top: 10px;
}
.Explore_Details_time1{
  font-size: 12px;
  font-weight: 600;
  color: lightgray;
  margin-top: 0px;
}
.Explore_Details_time2{
  font-size: 12px;
  font-weight: 600;
  color: lightgray;
  margin-top: -6px;
}
.Explore_Details_Time_Img{
  width: 33px;
  height: 33px;
  background-color: rgb(12, 12, 12);
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Explore_Details_List{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0px;
}


