.ExploreList_Caption{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ExploreList_Caption>h1{
  font-size: 24px;
  margin-left: 10px;
  color: white;
  font-weight: 900;
}
.ExploreList_Caption_Right{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ExploreList_Caption_Right>p{
  color: white;
  font-size: 16px;
  margin-right: 10px;
  font-weight: 900;
}
.Explore_Caption_Icon{
  color: black;
  font-size: 20px;
  margin-right: 20px;
  background-color: #ccfecc;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}
.ExploreList_Item_List{
  display: flex;
  flex-direction: row;  
  align-items: center;
  margin-left: 20px;
}
.ExploreList_Item{
  margin-right: 20px;
  cursor: pointer;
}
.ExploreList_Item_Info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 10px;
  color: white;
  font-size: 17px;
  font-weight: 800;
}