.Explore_Item_Details{
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 15px;
}
.Explore_Item_Lists{
  margin-right: 17px;
  margin-top: 12px;
}
.Id{
  overflow-y: scroll;
  overflow-x: hidden;
}
.Id::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.Id::-webkit-scrollbar-thumb {
  background: transparent;
}
.Id>h1{
  font-size: 24px;
  margin-left: 10px;
  color: white;
  font-weight: 900;
}
