.NftHeader{
  background-color: #f5f5f5;
  padding: 10px;
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-left: 10px;
  border-radius: 5px;
  width: 700px;
  position: sticky;
  top: 0;

  
}
.NftHeader_Item{
  flex: 1;
  display: flex;
  align-items: center;
  margin : 0px 15px;
  cursor: pointer;
}